{% extends "base.html" %}
{% load static %}
{% block title %}<title>Home Page</title>{% endblock title %}

{% block body %}
{% for message in messages %}  
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>Massage!</strong> {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}

<div class="container">
<div class=" card  object-fit-cover mb-4 mt-3 rounded">
    <img class="card-img card opacity-50 object-fit-cover" src="{% static 'img/bg.jpg' %}" alt="Background Image"  style="height: 350px;">
    <div class="col-lg-6 px-0 card-img-overlay px-5">
      <h1 class="display-4 fw-bold fst-italic card-title">Title of a longer featured blog post</h1>
      <p class="lead my-3 fw-bold card-text">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0 fw-bold card-text">Add Your Blog's....</p>
    </div>
  </div>

  
  <div class="row mb-2">
    {% for blog in blogs %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{blog.title}}</h3>
          <div class="mb-1 text-body-secondary">{{blog.date}}</div>
          <p>Posted by:- <strong>{{blog.user_id.username}} </strong></p>
          <p class="card-text mb-auto">{{blog.des}}</p>
          <a href="blog_detail/{{blog.id}}" class="btn btn-dark justify-content-center icon-link gap-1 icon-link-hover stretched-link">
            Continue reading
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
</div>
    {% endblock body %}